*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

/* BACKGROUND IMAGE */
body{
    background: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085") no-repeat center/cover;
    color:#fff;
}

/* NAVBAR */
nav{
    position: fixed;
    width:100%;
    display:flex;
    justify-content: space-between;
    padding:15px 8%;
    background: rgba(0,0,0,0.7);
}

.logo{
    font-size:24px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:#fff;
    text-decoration:none;
}

/* HOME */
.home{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.home-container{
    display:flex;
    align-items:center;
    gap:50px;
}

.profile-img{
    width:250px;
    border-radius:50%;
    border:5px solid #00ff88;
}

.home-text h1 span{
    color:#00ff88;
}

.icons i{
    margin:10px;
    font-size:20px;
}

.btn{
    display:inline-block;
    margin-top:10px;
    padding:10px 20px;
    background:#00ff88;
    color:#000;
    text-decoration:none;
}

/* ABOUT */
.about{
    padding:80px 10%;
    background: rgba(0,0,0,0.7);
}

.about-container{
    display:flex;
    justify-content:space-between;
    gap:50px;
}

.left, .right{
    width:50%;
}

/* SKILLS */
.bar{
    margin:15px 0;
}

.progress{
    height:10px;
    background:#444;
}

.progress span{
    display:block;
    height:100%;
    background:#00ff88;
}

/* PROJECTS */
.projects{
    padding:80px 10%;
    text-align:center;
}

.project-container{
    display:flex;
    gap:20px;
    justify-content:center;
}

.card{
    background: rgba(0,0,0,0.7);
    padding:20px;
    width:250px;
}

/* CONTACT */
.contact{
    padding:80px 10%;
    text-align:center;
}

form{
    display:flex;
    flex-direction:column;
    gap:10px;
    width:300px;
    margin:auto;
}

input, textarea{
    padding:10px;
    border:none;
}

button{
    padding:10px;
    background:#00ff88;
    border:none;
}
